body{
    width: 100%;
    
}
.container-itmes
{
    background-image: url("scott-graham-5fNmWej4tAA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 120px;
    text-align: center;
}
nav {
    color: #172e3d;
    margin:0;
    padding-top: 20px;
    font-size:larger;
}
.container
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    align-items: center;
}
.jumbotron
{
    width: 32%;
    height:500px;
    margin: 5px;
    display: block;
}